body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c09540;
    color: white;
    padding: 15px;
}

h1 {
    margin: 0;
}

.btn-ver-carrito, .btn-volver, .btn-agregar {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #f5a505;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn-ver-carrito:hover, .btn-volver:hover{
    background-color: #fffefd;
    color: #473a20;
}

.btn-agregar:hover {
    background-color: #8d683c;
} 

.btn-agregar {
    background-color:   #f1ac35;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.producto {
    width: 250px;
    padding: 15px;
    background: rgb(255, 255, 254);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.precio {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.producto img {
    width: 150px; /* Ancho fijo */
    height: 150px; /* Alto fijo */
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
    border-radius: 10px; /* Opcional: esquinas redondeadas */
}


