* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 10px;
    background-color:rgb(255,255,255,0.2);
    backdrop-filter:blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    display: block;
    margin-inline-start: 4px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header .navigation ul{
    float: right;
    margin-right: 10px;
}

header .navigation ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

header .navigation ul li a{
    position: relative;
    font-size: 1.1em;
    font-family: sans-serif;
    -webkit-text-stroke: 1px #05190A;
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    margin-left: 20px;
    padding: 3px 7px;
    border-radius: 3px;
    text-transform: uppercase;
}

header .navigation ul li a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    transform: scaleX(0);
    transition: transform .5s, background-color .5s;
    box-shadow: 0 0 10px rgba(206, 221, 227, 0.8);
}

header .navigation ul li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    background: linear-gradient(to right, #66b2ff, #e0f7ff);
}

#bton-login{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 700;
    margin-left: 25px;
    -webkit-text-stroke: 1px #05f140;
}

header .navigation ul li a:hover, #bton-login:hover{
    background-color: #05190A;
    transition: .5s;
}

.check-btn{
    font-size: 25px;
    color: white;
    float: left;
    line-height: 50px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    -webkit-text-stroke: 1px #05f140;
}

#check{
    display:none;
}

@media(max-width:1072px){
    .check-btn{
        display: block;
    }
    ul{
        position: fixed;
        width:50%;
        height: 65vh;
        background: #2c5038;
        top: 100px;
        left: -100%;
        text-align: left;
        transition: all .5s;
        border: 2px solid #c9c8c8;
        border-radius: 6px;
        box-shadow: 0 0 30px rgba(0, 0, 0 , 0.5);
    }

    header .navigation ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

    header .navigation ul li a{
        font-size: 1.2em;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

.logo{
    position: relative;
    width: 80px;
    height: auto;
    top:0px;
    padding: 0;
    margin: 0;
    border: 0;
}

.cover-box{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid #c9c8c8;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0 , 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: scale(0); */
    overflow: hidden;
    transition: transform .5s ease, height .2s ease, border-color 0.5s ease;/*transicion cuando llevas una accion*/
}

.cover-box:hover{
    border-color:#fff;
    animation: border-glow is infinite alternate;
}

@keyframes border-glow{
    frpm{
        border-color: #f6f8f6;
        box-shadow: 5px 5px 20px rgba(255, 255, 255, 1);
    }
}

.cover-box .form-box{
    width: 100%;
    padding: 40px;
}

.cover-box .icon-close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 45px;
    height: 45px;
    background: #05190A;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #0a0a0a;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}


.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #05190A;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

/*al colocar el clic en el input se
desplaza -10px top arriba*/
.input-box input:focus~label,
.input-box input:valid~label{
    top: -10px
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #05190A;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    color: #05190A;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #05190A;
    line-height: 57PX;
}

.remenber-forgot{
    font-size: .9em;
    color: #05190A;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between ;
}

.remenber-forgot label input{
    accent-color: #05190A;
    margin-right: 3px;
}

.remenber-forgot a {
    color: #05190A;
    text-decoration: underline;
}

.remenber-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #05190A;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor:pointer;
    font-size: 1em;
    color:#fff;
    font-weight: 500;
}

.login-register{
    font-size: 1.1em;
    color: #383333;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #e1dada;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}


/* footer */
.footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    color: #6c582ee1;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(243, 237, 237, 0.879);
    backdrop-filter: blur(10px);
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}

.social-icons a{
    color: #6c582ee1;
    font-size: 1.5em;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-content p{
    font-size: 0.9em;
    margin-bottom: 10px;
}

.social-icons a:hover{
    color: #05190A;
}
