body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.ubicaciones {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
}

.caja {
    float: left; 
    width: 600px; 
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px; 
}
.caja img {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: cover; 
}

.mapa {
    float: right;
    height: 400px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
