
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #c885397b;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 10px;
    background-color:rgb(255,255,255,0.2);
    backdrop-filter:blur(10px);
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    display: block;
    margin-inline-start: 4px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.frappes {
    text-align: center;
    padding: 40px 20px;
}
.express {
    text-align: center;
    padding: 40px 20px;
}

.banner1 {
    background: url('/img/frappe.jpg') no-repeat center center/cover;
    padding: 60px;
    color: rgba(32, 55, 230, 0.356);
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    height: 500px;
}
.banner2 {
    background: url('/img/banner2.jpg') no-repeat  center center/cover;
    padding: 60px;
    color: rgba(32, 55, 230, 0.356);
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    /* width: 900px; */
    height: 400px;
    /* no-repeat */
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.producto {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 550px;
    height: 600px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.producto img {
    width: 100%;
    border-radius: 10px;
    height: 350px;
}

.producto p {
    /* margin-bottom: 80px; Espacio entre el texto y el botón */
    height: 30px;
}


.precio {

    font-size: 18px;
    font-weight: bold;
    color: #b5651d;
}
.btn {
    background: #b5651d;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
.btn:hover {
    background: #8c4a16;
}



header .navigation ul{
    float: right;
    margin-right: 10px;
}

header .navigation ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

header .navigation ul li a{
    position: relative;
    font-size: 1.1em;
    font-family: sans-serif;
    -webkit-text-stroke: 1px #05190A;
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    margin-left: 20px;
    padding: 3px 7px;
    border-radius: 3px;
    text-transform: uppercase;
}

header .navigation ul li a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    transform: scaleX(0);
    transition: transform .5s, background-color .5s;
    box-shadow: 0 0 10px rgba(206, 221, 227, 0.8);
}

header .navigation ul li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    background: linear-gradient(to right, #66b2ff, #e0f7ff);
}

#bton-login{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 700;
    margin-left: 25px;
    -webkit-text-stroke: 1px #05f140;
}

header .navigation ul li a:hover, #bton-login:hover{
    background-color: #05190A;
    transition: .5s;
}

.check-btn{
    font-size: 25px;
    color: white;
    float: left;
    line-height: 50px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    -webkit-text-stroke: 1px #05f140;
}

#check{
    display:none;
}

@media(max-width:1072px){
    .check-btn{
        display: block;
    }
    ul{
        position: fixed;
        width:50%;
        height: 65vh;
        background: #2c5038;
        top: 100px;
        left: -100%;
        text-align: left;
        transition: all .5s;
        border: 2px solid #c9c8c8;
        border-radius: 6px;
        box-shadow: 0 0 30px rgba(0, 0, 0 , 0.5);
    }

    header .navigation ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

    header .navigation ul li a{
        font-size: 1.2em;
    }

    #check:checked ~ ul{
        left: 0;
    }
    .banner1 {
        background: url('/img/frappe.jpg') no-repeat center center/cover;
        border-radius: 10px;
        height: 300px;
    }
    .banner2 {
        background: url('/img/banner2.jpg') no-repeat center center/cover;
        border-radius: 10px;
        height: 300px;
    }
}

.logo{
    position: relative;
    width: 100px;
    height: auto;
    top:0px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #ffffff;
    border-radius: 10%;
}

.cover-box{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid #c9c8c8;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0 , 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: scale(0); */
    overflow: hidden;
    transition: transform .5s ease, height .2s ease, border-color 0.5s ease;/*transicion cuando llevas una accion*/
}

.cover-box:hover{
    border-color:#fff;
    animation: border-glow is infinite alternate;
}

@keyframes border-glow{
    frpm{
        border-color: #f6f8f6;
        box-shadow: 5px 5px 20px rgba(255, 255, 255, 1);
    }
}



.cover-box .form-box{
    width: 100%;
    padding: 40px;
}




.cover-box .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.cover-box.active .form-box.register{
    transition: transform .50s ease;
    transform: translateX(0);
}

.cover-box .icon-close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 45px;
    height: 45px;
    background: #05190A;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}

/* Contenedor del carrusel */
.carousel {
    width: 80%;
    height: 80%;
    overflow: hidden;
    position: relative;

    align-content: center;
    margin: auto;

}

/* Track de imágenes */
.carousel-track {
    display: flex;
    width: 320vw; /* 4 imágenes (3 originales + 1 copia) */
    animation: slide 12s infinite;
}

/* Imágenes */
.carousel-track img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    padding-top: 3%;
}

/* Animación para hacer saltos con pausas */
@keyframes slide {
    0%, 25% { transform: translateX(0); } /* Mantiene la 1ra imagen */
    30%, 50% { transform: translateX(-80vw); } /* Salta a la 2da imagen */
    55%, 75% { transform: translateX(-160vw); } /* Salta a la 3ra imagen */
    80%, 100% { transform: translateX(-240vw); } /* Vuelve a la 1ra imagen */
}

/* Pausar animación al pasar el mouse */
.carousel:hover .carousel-track {
    animation-play-state: paused;
}


/* footer */
.footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    color: #6c582ee1;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(243, 237, 237, 0.879);
    backdrop-filter: blur(10px);
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}

.social-icons a{
    color: #6c582ee1;
    font-size: 1.5em;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-content p{
    font-size: 0.9em;
    margin-bottom: 10px;
}

.social-icons a:hover{
    color: #05190A;
}
