*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor-general {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.contenedor-general .contenedor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 90vh;
    margin: 0;
}

#ul {
    border: 1px solid rgb(148, 14, 14);
    display: flex;
    flex-direction: column;
    max-width: 250px;
    border-radius: 10px;
    background-color: #bfb0a3;
    padding: 0;
    margin: 10px;
}

.li {
    background-color: rgb(12, 243, 31);
    font-size: 1.5em;
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.li.activo {
    background-color: blue;
    color: white;
}

.subcontenedor {
    border: 3px solid rgb(148, 14, 14);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    background-color: #bfb0a3;
    padding: 1px;
    border-radius: 10px;
    position: relative;
    height: 80%;
}

.subcontenedor .bloque {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    margin: 0px;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, z-index 0s linear 0.3s;
}

.bloque.activo {
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.contenidoEsp{
    text-align: center;
    margin: 10%;
}

.contenedor2{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* background-color: rgb(77, 255, 0); */
    padding: 0;
    height: 80%;
}

#ul2{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: space-around;
}

.li2{
    background-color: rgb(242, 233, 223);
    border-radius: 10px;
    padding: 2%;
    width: 100px;
    text-align: center;
    margin:0 2px 5px 0;
    cursor: pointer;
}

.subcontenedor2{
    position: relative;
    height: 80%;

}

.bloque2{
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, z-index 0s linear 0.3s;
}

.bloque2.activo2 {
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.contenidoEsp {
    text-align: center;
    margin: 10%;
}

.contenedor2 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
    height: 80%;
}

.formulario {
    background-color: rgb(225, 213, 213);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

label, h2 {
    margin-top: 10px;
    margin-right: 10px;
}

input, select {
    width: 50%;
    position: relative;
    right: 0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.btn {
    width: 25%;
    color: white;
    background-color: #6e452a;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.btn:hover {
    background-color: #b2cb8f;
    color: rgb(1, 1, 1);
    font-weight: 900;
}

@media(max-width:550px){
    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Centra el subcontenedor verticalmente */
        height: 70%; /* Altura total de la ventana */
        width: 80%;
        margin: 0;
    }

    #ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.8em;
        justify-content: center;
        max-width: 100%;
        padding: 5px;
    }

    .li{
        margin: 1px;
        font-size: 14px
    }

    .subcontenedor{
        display: flex;
        font-size: 0.9em;
        margin: 0;
        padding: 0;
    }

    .bloque{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        top:40%;
    }

}
